$Azul: #186eff;
$cinzaClaro: #eef1f4;
$Branco: #ffffff;
$cinza: #707070;
$texto: #2c2c2c;
$AzulEscuro: #06378b;
$FontTitulo: 2em;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
img {
  max-width: 100%;
  display: block;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.titulo {
  font-size: 2em;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
  color: $texto;
}
.mainContainer {
  width: 90%;
  max-width: 980px;
  margin: auto;
}
::-webkit-scrollbar {
  opacity: 0.8;
  width: 10px;
}
::-webkit-scrollbar-track-piece {
  background-color: $cinzaClaro;
  width: 1px;
}
::-webkit-scrollbar-thumb {
  background-color: #06378b;
}

/* botao mobile */
.menuIconMobile {
  display: none;
  cursor: pointer;

  padding: 6px;
}

.icon1,
.icon2,
.icon3 {
  width: 35px;
  height: 5px;
  background-color: $Branco;
  margin: 6px 0;
  transition: 0.4s;
}

.change .icon1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .icon2 {
  opacity: 0;
}

.change .icon3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
