@import 'base';

//Menu
.containerMenu {
  width: 100%;
  background-color: $Azul;
}
.logo {
  width: 130px;
  padding: 10px;
  margin-left: 10px;
}
.menuListaContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 45px;
  background-color: $AzulEscuro;
  position: sticky;
  top: 0;
}
.menuLista {
  display: flex;
  margin: 10px 30px 7px 7px; /* cima - direita - baixo - esquerda */
  filter: drop-shadow(-2px -1px 1px rgba(0, 0, 0, 0.4))
    drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}
.menuLista li {
  margin-left: 25px;
  a:hover {
    color: $Azul;
  }
}
.menuLista li::after {
  content: '|';
  font-size: 25px;
  line-height: 22px;
  width: 6px;
  margin-left: 20px;
  color: $Branco;
}

.menuLista li a {
  text-decoration: none;
  color: $Branco;
  font-size: 1.3em;
  font-weight: 500;
}
/* Footer */

.footer {
  height: 90px;
  width: 100%;
  text-align: center;
  background-color: $Azul;
}
.footer p {
  padding-top: 35px;
  font-size: 1.2em;
  color: $Branco;
}
.footerBottom {
  height: 40px;
  width: 100%;
  text-align: center;
  background-color: $AzulEscuro;
}
.footerBottom p {
  padding-top: 12px;
  font-size: 12px;
  color: $texto;
  font-style: italic;
  color: $Branco;
}
