@import 'base';

//Menu
.containerMenu {
  width: 100%;
  background-color: $Azul;
  z-index: 5000;
  display: flex;
}
.logo {
  width: 130px;
  padding: 10px;
  margin-left: 10px;
}
.menuListaContainer {
  display: flex;
  justify-content: flex-end;
  //width: 100%;
  height: 50px;
  background-color: $AzulEscuro;
  position: sticky;
  top: 0;
  z-index: 2000;
}
.menuLista {
  display: flex;
  margin: 10px 20px 7px 7px; /* cima - direita - baixo - esquerda */
  filter: drop-shadow(-2px -1px 1px rgba(0, 0, 0, 0.4))
    drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}
.menuLista li {
  margin-left: 25px;
  a:hover {
    color: $Azul;
  }
}
.menuLista li::after {
  content: '|';
  font-size: 25px;
  line-height: 22px;
  width: 6px;
  margin-left: 20px;
  color: $Branco;
}

.menuLista li a {
  text-decoration: none;
  color: $Branco;
  font-size: 1.3em;
  font-weight: 500;
}

/* Parte mobile */

/* IconeMenu */
.menuMobileIcone {
  width: 35px;
  display: none;
  height: 25px;
  margin: 10px 10px 10px 5px;
  cursor: pointer;
  z-index: 5300;
}

.menuMobileIcone span {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: $Branco;
  margin: 7px 0 7px;
}
.menuMobileIcone::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: $Branco;
}
.menuMobileIcone::before {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: $Branco;
}

/* Menu Cortina*/
.menuMobContainerMain {
  display: none;
  position: absolute;
  top: 50px;
  width: 100%;
  height: 500px;
  background-color: $AzulEscuro;
  z-index: 5000;
}
.menuMobContainerMain.ativo {
  display: flex;
  align-items: center;
  animation: descer 0.3s;
  transition: 0.5;
}

.menuMobContainerMain.desativado {
  transition: 0.5;
}
.MenuMobLista {
  width: 200px;
  margin: 25% auto;
  li {
    margin-top: 10px;
    text-align: center;
    width: 100%;
    border: 2px $Branco solid;
    border-radius: 5px;
  }
  li a {
    width: 100%;
    height: 200px;
  }
  li:hover {
    background-color: $Branco;
    button {
      color: $Azul;
    }
  }
  button {
    padding: 20px 10px;
    width: 100%;
    background: none;
    text-decoration: none;
    border: none;
    color: $Branco;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
  }
}
@keyframes descer {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}
.menuMobileIcone.off {
  animation: retornarIcone 0.5s;
  transition: 0.5;
}

.menuMobileIcone.on {
  animation: girarIcone 0.5s;
  transform: rotate(-90deg);
  transition: 0.5;
}
@keyframes girarIcone {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
@keyframes retornarIcone {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Footer */

.footer {
  height: 90px;
  width: 100%;
  text-align: center;
  background-color: $Azul;
  span {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: bold;
  }
}
.footer p {
  padding-top: 35px;
  font-size: 1.2em;
  color: $Branco;
}
.footerBottom {
  height: 40px;
  width: 100%;
  text-align: center;
  background-color: $AzulEscuro;
}
.footerBottom p {
  padding-top: 12px;
  font-size: 12px;
  color: $texto;
  font-style: italic;
  color: $Branco;
}
