@import 'base';

.tituloReceitas {
  text-align: center;
  font-size: $FontTitulo;
  margin: 40px auto 30px;
}
.tituloReceitas::after {
  content: '';
  display: block;
  width: 500px;
  height: 3px;
  background: red;
  margin: 70px auto;
}
