@import 'base';

.tituloReceitas {
  text-align: center;
  color: $texto;
  font-size: $FontTitulo;
  margin: 50px 0 10px 0;
}
.tituloReceitas::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: $Azul;
  margin: 70px auto;
}
.containerReceitas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  margin-bottom: 70px;

  .boxReceita {
    height: 400px;
    padding: 10px;
    margin: 7px;

    .boxImg {
      width: 100%;
      height: 322px;
      background-color: $cinza;
      text-align: center;
      border-radius: 10px;
      display: flex;
      align-items: center;
    }
    button {
      width: 100%;
      border: none;
      border-radius: 10px;
      font-size: 1em;
      color: $Branco;
      font-weight: 600;
      background-color: $Azul;
      padding: 15px;
      margin-top: 10px;
      cursor: pointer;
    }
    button:hover {
      background-color: $AzulEscuro;
      transform: scale(1.05);
      transition: 0.3s;
    }
    /* wbs by JD&Ibb*/
  }
}
.containerMainReceitas::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: $Azul;
}
.titulosReceitasBg {
  align-items: center;
  margin: 0 auto;
  background-color: $cinza;
  width: 100%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}
.titulosBoxReceita {
  font-size: 23px;
  color: $Branco;
  font-family: 'Sail', cursive;
  font-weight: 500;
}
.receita1 {
  background-image: url(/img/macarrao.jpg);
}
.receita2 {
  background-image: url(/img/canelone.jpg);
}
.receita3 {
  background-image: url(/img/bolo-milho.jpg);
}
.receita4 {
  background-image: url(/img/bolo-laranja.jpg);
}
.receita5 {
  background-image: url(/img/chocolate.jpg);
}
.receita6 {
  background-image: url(/img/sanduiche.jpg);
}
//Modais Receitas
.modalReceita {
  display: none;
  position: fixed;
  z-index: 6000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: flex-start;
}

// Remove o scroll caso ele apareça quando o card da receita for muito alto(scroll funcionará normal) wbs by JD&Ibb
.modalReceita::-webkit-scrollbar {
  display: none;
}

.close {
  float: right;
  width: 40px;
  font-size: 30px;
  height: 40px;
  border: none;
  border-radius: 20px;
  text-align: center;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.contentReceita {
  background-color: $Branco;
  width: 400px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  line-height: 24px;
  text-align: justify;
}
