@import 'base';

/*Slide*/
.containerSlides {
  width: 100%;
  margin-bottom: 30px;

  .slides {
    display: none;
  }
  img {
    width: 100%;
    height: 550px;
    object-fit: cover;
  }
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  @keyframes fade {
    from {
      opacity: 0.6;
    }
    to {
      opacity: 1;
    }
  }
}
