@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulo {
  font-size: 2em;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
  color: #2c2c2c;
}

.mainContainer {
  width: 90%;
  max-width: 980px;
  margin: auto;
}

::-webkit-scrollbar {
  opacity: 0.8;
  width: 10px;
}

::-webkit-scrollbar-track-piece {
  background-color: #eef1f4;
  width: 1px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #186eff;
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulo {
  font-size: 2em;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
  color: #2c2c2c;
}

.mainContainer {
  width: 90%;
  max-width: 980px;
  margin: auto;
}

::-webkit-scrollbar {
  opacity: 0.8;
  width: 10px;
}

::-webkit-scrollbar-track-piece {
  background-color: #eef1f4;
  width: 1px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #186eff;
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulo {
  font-size: 2em;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
  color: #2c2c2c;
}

.mainContainer {
  width: 90%;
  max-width: 980px;
  margin: auto;
}

::-webkit-scrollbar {
  opacity: 0.8;
  width: 10px;
}

::-webkit-scrollbar-track-piece {
  background-color: #eef1f4;
  width: 1px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #186eff;
  border-radius: 5px;
}

.containerMenu {
  width: 100%;
  background-color: #186eff;
}

.logo {
  width: 130px;
  padding: 10px;
  margin-left: 10px;
}

.menuListaContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 45px;
  background-color: #06378b;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2000;
}

.menuLista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 30px 7px 7px;
  /* cima - direita - baixo - esquerda */
  -webkit-filter: drop-shadow(-2px -1px 1px rgba(0, 0, 0, 0.4)) drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(-2px -1px 1px rgba(0, 0, 0, 0.4)) drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}

.menuLista li {
  margin-left: 25px;
}

.menuLista li a:hover {
  color: #186eff;
}

.menuLista li::after {
  content: '|';
  font-size: 25px;
  line-height: 22px;
  width: 6px;
  margin-left: 20px;
  color: #ffffff;
}

.menuLista li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.3em;
  font-weight: 500;
}

/* Footer */
.footer {
  height: 90px;
  width: 100%;
  text-align: center;
  background-color: #186eff;
}

.footer p {
  padding-top: 35px;
  font-size: 1.2em;
  color: #ffffff;
}

.footerBottom {
  height: 40px;
  width: 100%;
  text-align: center;
  background-color: #06378b;
}

.footerBottom p {
  padding-top: 12px;
  font-size: 12px;
  color: #2c2c2c;
  font-style: italic;
  color: #ffffff;
}

/* Slide */
.containerSlide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #707070;
  text-align: center;
  width: 100%;
  height: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text {
  width: 400px;
  height: 50px;
  margin: 250px auto;
  color: #2c2c2c;
}

.text p {
  font-size: 2em;
}

/* Acesso rápido */
.containerAcssRapido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.acssRapidoBoxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 0.8em;
  width: 500px;
  margin-top: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.acssRapidoBox {
  width: 150px;
  background-color: #186eff;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  -webkit-filter: drop-shadow(-4px -3px 2px rgba(0, 0, 0, 0.4)) drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(-4px -3px 2px rgba(0, 0, 0, 0.4)) drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}

.acssRapidoBox a:link {
  text-decoration: none;
}

.acssRapidoBox img {
  width: 80px;
  margin: 20px auto;
}

.acssRapidoBox h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #ffffff;
}

.acssRapidoBox:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

/* Informações */
.containerInformacoes {
  width: 100%;
  text-align: center;
  margin-bottom: 70px;
  margin-top: 70px;
  color: #2c2c2c;
}

.containerInformacoes::before {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: #186eff;
  margin: 10px 0px 10px 0;
}

.infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 700px;
  margin: 70px auto 100px auto;
}

.funcionamento {
  width: 400px;
}

.funcionamento ul {
  padding: 10px;
}

.funcionamento ul li {
  padding: 10px;
  text-align: left;
}

.tituloFuncionamento,
.tituloRedes {
  font-size: 1.4em;
  text-align: left;
}

.tituloFuncionamento::after,
.tituloRedes::after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background: #186eff;
  margin: 10px 0px 10px 0;
}

.tituloCidades {
  font-size: 1.2em;
  text-align: left;
}

/* Redes sociais */
.Redes {
  width: 300px;
}

.Redes ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.Redes ul li {
  width: 60px;
  margin-right: 14px;
}

.icones img {
  -webkit-filter: drop-shadow(-2px -2px 1px rgba(0, 0, 0, 0.4)) drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4)) drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(-2px -2px 1px rgba(0, 0, 0, 0.4)) drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4)) drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.4));
}

.icones img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

/* Sobre */
.containerSobre {
  max-width: 100%;
}

.containerSobre::before {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: #186eff;
  margin: 60px auto 0px auto;
  /* cima - direita - baixo - esquerda */
}

.containerSobre::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: #186eff;
  margin: 130px auto 0px auto;
  /* cima - direita - baixo - esquerda */
}

.sobreTxt {
  text-align: justify;
  font-size: 20px;
  line-height: 27px;
  color: #2c2c2c;
  opacity: 0.8;
}

/* Contatos */
.containerContatos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 70px 0 90px;
}

.boxLoja {
  width: 230px;
  max-height: 260px;
  margin: 7px;
  padding: 10px;
  border: 3px solid #186eff;
  border-radius: 5px;
}

.boxLoja li {
  padding: 12px 0 12px 0;
  font-size: 1.2em;
  font-weight: 500;
  color: #2c2c2c;
}

.boxLoja p {
  margin-left: 30px;
}

.tituloLoja {
  font-size: 1.3em;
  color: #2c2c2c;
}

.tituloLoja::after {
  content: '';
  display: block;
  width: 55px;
  height: 3px;
  background: #186eff;
  margin-top: 12px;
  margin-bottom: 25px;
}

.iconesContatos {
  width: 25px;
  position: absolute;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulo {
  font-size: 2em;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
  color: #2c2c2c;
}

.mainContainer {
  width: 90%;
  max-width: 980px;
  margin: auto;
}

::-webkit-scrollbar {
  opacity: 0.8;
  width: 10px;
}

::-webkit-scrollbar-track-piece {
  background-color: #eef1f4;
  width: 1px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #186eff;
  border-radius: 5px;
}

.tituloReceitas {
  text-align: center;
  color: #2c2c2c;
  font-size: 2em;
  margin: 50px 0 10px 0;
}

.tituloReceitas::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: #186eff;
  margin: 70px auto;
}

.containerReceitas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  margin-bottom: 70px;
}

.containerReceitas .boxReceita {
  height: 400px;
  padding: 10px;
  margin: 7px;
}

.containerReceitas .boxReceita .boxImg {
  width: 100%;
  height: 322px;
  background-color: #707070;
  text-align: center;
  border-radius: 10px;
}

.containerReceitas .boxReceita button {
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 1em;
  color: #ffffff;
  font-weight: 600;
  background-color: #186eff;
  padding: 15px;
  margin-top: 10px;
  cursor: pointer;
}

.containerReceitas .boxReceita button:hover {
  background-color: #06378b;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.containerMainReceitas::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: #186eff;
  margin: 80px auto;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulo {
  font-size: 2em;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
  color: #2c2c2c;
}

.mainContainer {
  width: 90%;
  max-width: 980px;
  margin: auto;
}

::-webkit-scrollbar {
  opacity: 0.8;
  width: 10px;
}

::-webkit-scrollbar-track-piece {
  background-color: #eef1f4;
  width: 1px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #186eff;
  border-radius: 5px;
}

.tituloLocalizacao {
  text-align: center;
  color: #2c2c2c;
  font-size: 2em;
  margin: 50px 0 10px 0;
}

.tituloLocalizacao::after {
  content: '';
  display: block;
  height: 3px;
  background: #186eff;
  margin: 70px auto;
}

.tituloCidades.tituloPassos,
.tituloCidades.tituloAlpinopolis {
  font-size: 1.2em;
  text-align: left;
}

.tituloCidades.tituloPassos::after,
.tituloCidades.tituloAlpinopolis::after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background: #186eff;
  margin: 10px 0 10px 0;
}

.tituloPassos {
  font-size: 1.2em;
  text-align: left;
}

.containerBoxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px 0 30px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.boxMapa {
  text-align: center;
  padding: 10px;
  margin: 5px;
  border: 2px solid lightblue;
  border-radius: 12px;
}

.boxMapa p {
  padding: 15px;
  background-color: #eef1f4;
}

.map {
  max-width: 280px;
}

.boxesAlpinopolis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0 70px 0px;
}

@media (max-width: 1047px) {
  .boxesAlpinopolis {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .map {
    max-width: 250px;
  }
}
/*# sourceMappingURL=main.css.map */